def hostUid = ['id','-u'].execute().text.trim()
def hostGid = ['id','-g'].execute().text.trim()
docker {
  enabled = true
  runOptions = "-u ${hostUid}:${hostGid}"
}

params {
  library_layout = 'both'
}

process {
  executor = 'local'

  withName: FETCH_METADATA {
    container = 'quay.io/biocontainers/entrez-direct:22.4--he881be0_0'
  }

  withName: FORMAT_METADATA {
    container = 'felixlohmeier/pandas:1.3.3'
  }
}
