/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    MAPPED-batch Nextflow config file for batch processing initiation
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    // Input/output options
    metadata                   = null
    sample_ids                 = null
    output                     = null
    
    // Max resource options
    max_memory                 = '128.GB'
    max_cpus                   = 16
    max_time                   = '240.h'
}

// Base configuration
process {
    errorStrategy = 'retry'
    maxRetries = 2
}

// Enable Docker by default
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

// Disable conda by default
conda.enabled = false