.nextflow/
.nextflow.log
.ipynb_checkpoints/

1_download_metadata/.nextflow.log.*
2_download_reference_genome/.nextflow.log.*
3_initiate_batch_processing/.nextflow.log.*
4_download_fastq/.nextflow.log.*
5_generate_count_matrix/.nextflow.log.*
6_merge_batch_results/.nextflow.log.*

**/work/

1_download_metadata/.ipynb_checkpoints/
2_download_reference_genome/.ipynb_checkpoints/
3_initiate_batch_processing/.ipynb_checkpoints/
4_download_fastq/.ipynb_checkpoints/
5_generate_count_matrix/.ipynb_checkpoints/
6_merge_batch_results/.ipynb_checkpoints/

test_results/seqFiles/fastq/*.fastq.gz
test_results/seqFiles/fastq/*.fastq.gz.md5
test_results/trimmed/*
!test_results/trimmed/.gitkeep
test_results/fastqc/*
!test_results/fastqc/.gitkeep
test_results/salmon/*
!test_results/salmon/.gitkeep