// Enable DSL2
nextflow.enable.dsl2 = true

// Define pipeline parameters
params.workdir = ''
params.outdir = ""
params.ena_metadata_fields = ''
params.skip_fastq_download = false
params.publish_dir_mode = 'copy'
params.nf_core_pipeline = ''
params.nf_core_rnaseq_strandedness = 'auto'
params.sample_mapping_fields = ''
params.download_method = 'ftp'
params.max_concurrent_downloads = 20

// Define default CPU per process and apply it globally
params.cpu = 1
process {
    cpus = params.cpu
}

def hostUid = ['id','-u'].execute().text.trim()
def hostGid = ['id','-g'].execute().text.trim()

docker {
      enabled = true
      runOptions = "-u ${hostUid}:${hostGid}"
    }